/* ___________________Google-Font-WorkSans */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* _________________________________Shared-Style */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-common {
    padding: 1rem 1.1rem;
    border: 0;
    background-color: #FF900E;
    color: #FFF;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.gray-text {
    color: #727272;
    font-weight: 500;
}

.orange-text {
    color: #FF900E;
}

.common-p-text {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.2rem 0rem;
}

.h1-titles {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* ____________________________________________Header */
header {
    padding: 20px 240px;
    background-color: rgba(255, 143, 14, 0.164);
    /* border: 2px solid black; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 1.2rem;
}

li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

/* ____________________________________Header-Banner */
.banner {
    /* border: 2px solid black; */
    text-align: center;
}

.banner-content {
    /* border: 2px solid black; */
    margin: 20px auto;
    max-width: 50rem;
    margin-bottom: 4rem;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    width: 100%;
}

/* _______________________________Main */
main {
    max-width: 0rem 118rem;
    margin: 4rem auto;
}

/* ___________________________Features List Styles */
.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.features-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.features-content {
    max-width: 35rem;
    padding: 3rem 3rem;
}

.features-list-title {
    font-size: 3rem;
    color: #131313;
    font-weight: 700;
}

/* _____________________________Main Features Section */
.main-features {
    display: flex;
    justify-content: space-evenly;
    margin: 6rem 0rem;

}

.features-content>h1 {
    padding-left: 0.5rem;
    border-left: 7px solid #FF900E;
}

.features-cards {
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-img img {
    height: 90%;
    margin-left: 90px;
}

.logo {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 21rem;
    padding: 2.8rem 2rem;
    text-align: center;
    position: relative;
    bottom: 8rem;
}

.logo>h3 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
}

.logo>p {
    margin: 0;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 10px;
}


/* __________________________________Facts Section */
.facts {
    /* border: 2px solid black; */
    padding: 0rem 2rem;
    margin: 4rem 0rem;
    text-align: center;
}

.facts-title {
    margin-bottom: 1rem;
}

.facts-cards {
    display: flex;
    justify-content: space-around;
}

.facts-cards .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 2.3rem;
}

.facts-cards .card-stats {
    margin: 0.8rem 0rem;
    font-size: 2.8rem;
    color: #424242;
    font-weight: 600;
}

.facts-cards .card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
}

/* _________________________________Sponsors Section */
.sponsors {
    text-align: center;
    margin: 7rem auto;

}

.p-sponsor {
    margin: 0rem auto;
    max-width: 30rem;
}

.sp-company {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}





















/*__________________________Responsive Media Queries */
/* Small Devices */
@media screen and (max-width: 576px) {

    .facts-cards,
    header {
        padding: 1.5rem;
    }

    .main-features,
    .sp-company,
    .facts-cards,
    nav {
        flex-direction: column;
    }

    .features-img img {
        width: 95vw;
        margin-left: 0;
    }

    .logo {
        width: auto;
    }

    .features-list {
        flex-direction: column-reverse;
    }

    .features-list-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .features-content {
        text-align: center;
    }

    .sp-company,
    .facts-cards {
        gap: 1.2rem;
    }

}

/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {

    .sp-company,
    .facts-cards,
    header {
        padding: 2rem;
    }

    .main-features,
    nav {
        flex-direction: column;
    }

    .features-img {
        text-align: center;
    }

    .features-img img {
        width: 95vw;
        margin-left: 0;
    }

    
    .features-list-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .features-list {
        flex-direction: column-reverse;
    }

    .sp-company,
    .facts-cards {
        flex-wrap: wrap;
        gap: 1.2rem;
    }

}